{{ define "main" -}}

{{ .Content }}
To subscribe to our podcast, use the links below.

<div class="feed-icons">
<a href="https://itunes.apple.com/podcast/the-harvest-season/id1449112246?mt=2"><img src="/images/icons/itunes.png" class="podcast-icon" /></a>
<a href="https://pca.st/z5HX"><img src="/images/icons/pocketcasts.svg" class="podcast-icon" /></a>
<a href="https://overcast.fm/itunes1449112246"><img src="/images/icons/overcast.svg" class="podcast-icon overcast" /></a>
<a href="https://open.spotify.com/show/1T6fbWhiBgH2Ym85KloVEs"><img src="/images/icons/spotify.png" class="podcast-icon" /></a>

<a href="https://www.harvestseason.club/index.xml"><img src="/images/icons/rss.png" class="podcast-icon" /></a>
</div>

{{- end }}