{{ define "main" -}}
<ul class="posts">
{{ range where .Site.RegularPages "Type" "=" "episode" -}}
  <li>
    <span><a href="{{ .Permalink }}">{{ .Title }}</a> <time class="pull-right post-list">{{ .Date.Format "Mon, Jan 2, 2006" }}</time></span>

    <audio controls preload="metadata">
      <source src="https://r.zencastr.com/r/dts.podtrac.com/redirect.mp3/ymk.nyc3.digitaloceanspaces.com/{{ .Params.podcast }}" type="audio/mpeg" />
      <a href="https://r.zencastr.com/r/dts.podtrac.com/redirect.mp3/ymk.nyc3.digitaloceanspaces.com/{{ .Params.podcast }}">{{ title .Title }}</a>
    </audio>
  </li>
{{- end }}
</ul>
{{- end }}