{{ define "main" -}}
<div class="post">
  <h1>{{ .Title }}</h1>
  <span class="post-date">{{ .Date.Format "Mon, Jan 2, 2006" }}</span>
  <span class="post-date">{{ if isset .Params "year"}}Year {{ .Params.year }}, {{end}}{{ if isset .Params "seasonname"}}{{ .Params.seasonname }}{{ else }}Episode{{ end }} {{ .Params.episode }}</span>
  <audio controls preload="metadata">
    <source src="https://dts.podtrac.com/redirect.mp3/ymk.nyc3.digitaloceanspaces.com/{{ .Params.podcast }}" type="audio/mpeg" />
    <a href="https://dts.podtrac.com/redirect.mp3/ymk.nyc3.digitaloceanspaces.com/{{ .Params.podcast }}">{{ title .Title }}</a>
  </audio>

  <p>
    {{ .Description }}
  </p>
  {{ .Content }}
</div>

{{ if .Site.DisqusShortname -}}
<h2>Comments</h2>
{{ template "_internal/disqus.html" . }}
{{- end }}
{{- end }}