{{ define "main" -}}
<div class="posts">
{{ range where .Site.RegularPages "Type" "=" "episode" -}}
<div class="post">
  <h1 class="post-title">
    <a href="{{ .Permalink }}">{{ .Title }}</a>
  </h1>
  <span class="post-date">{{ .Date.Format "Mon, Jan 2, 2006" }}</span>
  <span class="post-date">{{ .Params.season }} {{ .Params.episode }}</span>

  <audio controls preload="metadata">
    <source src="https://dts.podtrac.com/redirect.mp3/ymk.nyc3.digitaloceanspaces.com/{{ .Params.podcast }}" type="audio/mpeg" />
    <a href="https://dts.podtrac.com/redirect.mp3/ymk.nyc3.digitaloceanspaces.com/{{ .Params.podcast }}">{{ title .Title }}</a>
  </audio>
  <p>
    {{ .Description }}
  </p>
  </div>
{{- end }}
</div>
{{- end }}